<%- include("../../partials/authHeader") -%>

<div class="main-container">

	<section class="rsvp rsvp-2">
		<div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p>
            Add info for guests below to add them to the invite list.  Invite emails will be sent out later:
          </p>
        </div>
      </div>
			<div class="row">
				<div class="col-sm-12 text-center">
					<div class="form-wrapper">
						<form id="formInvite" class="form-invite">
							<div class="form-section">
								<input type="email" name="email" class="validate-required" placeholder="Email">
								<input type="text" name="names" class="validate-required" placeholder="Names">
								<input type="number" name="number" class="validate-required" placeholder="How many can attend?">
							</div>
							<input type="submit" value="Invite">
							<div class="form-error">
								<span>Please fill out all fields</span>
							</div>
							<div class="form-success">
								<span>Complete</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

<%- include("../../partials/footer") -%>
