<footer class="footer footer-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h6>© Copyright 2020 - All Rights Reserved</h6>
      </div>
    </div>
  </div>
</footer>
</div>

  <script src="js/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
  <script src="js/smooth-scroll.min.js"></script>
  <script src="js/placeholders.min.js"></script>
  <script src="js/flexslider.min.js"></script>
  <script src="js/spectragram.min.js"></script>
  <script src="js/scripts.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
