<%- include("../partials/header") -%>

<div class="main-container">

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<p style="font-size: 64px">
            404
          </p>
				</div>
			</div>
      <div class="row">
				<div class="col-sm-12 text-center">
					<p>
            Looks like there is nothing here
          </p>
				</div>
			</div>
		</div>
	</section>

<%- include("../partials/footer") -%>
